<!-- NGX LOADER -->
<div class="ngxLoader" *ngIf="showLoader">
    <ngx-ui-loader [hasProgressBar]="false"></ngx-ui-loader>
</div>

<div class="main flex-column-centered">

    <div class='flex header'>
        <h3>Strategy Total Transaction (<span class="success">$ {{totalTransaction}} 
            </span>)</h3>
        <div class="spacer"></div>
        <mat-icon mat-dialog-close class="pointer" matTooltip="Close">close</mat-icon>
    </div>


    <!-- TABLE CONTAINER -->
    <div class="table_container" style="margin-top: 10px;">
        <table class="dataTable" mat-table [dataSource]="dataSource">

            <!--  NAME COLUMN -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Profit </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngStyle]="{'color': element.usdtAmount > 0 ? 'green' : '#687888'}"
                        >$ {{element.usdtAmount}}</span>
                    <!-- <span [ngStyle]="{'display': element.usdtAmount > 0 ? 'block' : 'none'}" class="usdt">(USDT)</span> -->
                </td>
            </ng-container>

            <!--  TIME COLUMN -->
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef>Date & Time</th>
                <td mat-cell *matCellDef="let element">
                    {{element.createdAt | date: 'MMMM dd, y , hh:mm:ss a'}}
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor-pointer"></tr>

            <!-- ROW SHOWS WHEN THERE IS NO MATCHING DATA -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="2" class="pad-16" style="text-align: center;">No data Found
                </td>
            </tr>

        </table>

    </div>



</div>