<div class="ngxLoader" *ngIf="showLoader">
  <ngx-ui-loader [hasProgressBar]="false"></ngx-ui-loader>
</div>

<div class="toolbar">
  <mat-toolbar class="toolbar">
    <span style="text-transform: capitalize;">{{data.user.firstName}} {{data.user.lastName}}</span>
    <div class="spacer"></div>
    <mat-icon mat-dialog-close class="pointer" matTooltip="Close">close</mat-icon>
  </mat-toolbar>
</div>

<div style="height: 400px;">

  <div class="chat_container" id="chat_container" #chatContainer>
    <div *ngFor="let message of sortedMessages" class="message"
      [ngClass]="{'left': message.type === 'issue', 'right': message.type === 'replies'}">
      <p class="messages">{{ message.text }}</p>
      <p class="timestamp">{{ getTimeDifference(message.timestamp) }}</p>
    </div>
  </div>

  <div class="reply_container ">

    <div class="replyField">
      <input class="searchInput" [(ngModel)]="replyMessage" matInput placeholder="Send a message..." #input
        (keyup.enter)="replyToUser()">
      <mat-icon class="sendIcon" matTooltip="Send" (click)="replyToUser()">send</mat-icon>
    </div>

  </div>

</div>