.main_container{
    padding: 0px 10px;
}

.add_WalletTier {
    border: 1px solid #CCCBCB;
    width: auto;
    border-radius: 3px;
    background-color: #ffffff;
    color: #635D5D;
    font-weight: 600;
    margin-right: 10px;
    height: 36px;
    cursor: pointer;
    padding: 10px;

    .icon {
        margin: -6px;
        margin-right: 1px;
    }
}

.add_WalletTier:hover {
    color: #1e88e5;
    border: 1px solid #1e88e5;
}