.btn {
    button {
        width: 90%;
        padding: 8px;
        font-size: 16px;
    }
    .mat-spinner {
        position: absolute;
        right: -24px;
    }

    position: relative;
}

.loader {
    .mat-card {
        height: 250px;
        width: 400px;
        display: flex;
        background-color: #67757c;
    }
}
.visibility{
    cursor: pointer;
}



