.key-value-pair {
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: whitesmoke;
    white-space: normal;
    word-wrap: break-word
}


.toolbar {
    background-color: #1e88e5;
    color: white;
    position: sticky;
    top: 0;
  }