<!-- NGX LOADER -->
<div class="ngxLoader" *ngIf="showLoader">
    <ngx-ui-loader [hasProgressBar]="false"></ngx-ui-loader>
</div>


<div class="main_container">

    <div class="flex pad-8 header">

        <!-- HEADING -->
        <p class="heading">Support </p>
        <div class="spacer"></div>

    </div>


    <!-- TABLE CONTAINER -->
    <div style="margin-top: 10px;">
        <table class="dataTable" mat-table [dataSource]="dataSource">

            <!-- NAME COLUMN -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name </th>
                <td mat-cell *matCellDef="let element" class="capital">
                    {{element.user.firstName}} {{element.user.lastName}}
                </td>
            </ng-container>

            <!--  EMAIL COLUMN -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">
                    {{element.user.email}}
                </td>
            </ng-container>

            <!--  TICKET NO -->
            <ng-container matColumnDef="ticket">
                <th mat-header-cell *matHeaderCellDef>Ticket No</th>
                <td mat-cell *matCellDef="let element" style="padding-left: 30px;">
                    {{element.ticketNo}}
                </td>
            </ng-container>

            <!-- TITLE COLUMN-->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title </th>
                <td mat-cell *matCellDef="let element" style="color: red; text-transform: capitalize;">
                    {{element.title}}
                </td>
            </ng-container>

            <!-- DATE & TIME COLUMN-->
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef>Date & Time</th>
                <td mat-cell *matCellDef="let element"
                    [ngStyle]="{'color': element.status === 'PENDING' ? '#f5bb8c' : 'green'}">
                    {{element.createdAt | date: 'MMMM dd, y , hh:mm:ss a'}}
                </td>
            </ng-container>

            <!-- STATUS COLUMN -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                    <span style="color: #f5bb8c;" *ngIf="element.status=='PENDING'">PENDING</span>
                    <span style="color: green;" *ngIf="element.status=='RESOLVED'">RESOLVED</span>
                </td>
            </ng-container>

            <!-- STATUS COLUMN -->
            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef style="width: 15%; word-wrap:normal;">Message</th>
                <td mat-cell *matCellDef="let element">
                    {{element.issue && element.issue[0].text || '--'}}
                </td>
            </ng-container>

            <!-- REPLY COLUMN-->
            <ng-container matColumnDef="reply">
                <th mat-header-cell *matHeaderCellDef> Action</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="pointer reply" *ngIf="element.status=='PENDING'" (click)="reply(element)"
                        matTooltip="Reply To User">reply</mat-icon>
                    <mat-icon class="remove" *ngIf="element.status=='PENDING'"
                        matTooltip="Resolve Ticket">remove_circle</mat-icon>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor-pointer"></tr>

            <!-- ROW SHOWS WHEN THERE IS NO MATCHING DATA -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5" class="pad-16" style="text-align: center;">No data matching the filter
                </td>
            </tr>

        </table>

        <!-- PAGINATION -->
        <mat-paginator [length]="totalLength" class="pagination" [pageSizeOptions]="[15, 25, 50, 75, 100]" pageSize="15"
            (page)="pageChange($event)">
        </mat-paginator>

    </div>
</div>