.main_container{
    padding: 0px 10px;
}

.btn {
    display: flex;
    justify-content: flex-end; 
    position: relative;
}

.show_List {
    border: 1px solid #CCCBCB;
    width: auto;
    border-radius: 3px;
    background-color: #ffffff;
    color: #635D5D;
    font-weight: 600;
    margin-left: 0;
    height: 36px;
    cursor: pointer;
    padding: 10px;
   
}

.show_List:hover {
    color: #1e88e5;
    border: 1px solid #1e88e5;
}
.mt-30{
    margin-top: 30px;
}

.icon{
    margin-right: 5px;
}